body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.completed {
    text-decoration: line-through;
    color: #9CA3AF;
}

input[type=checkbox]:checked + label span:first-of-type {
    background-color: #6366f1;
    border-color: #6366f1;
    color: #fff;
}

input[type=checkbox]:checked + label span:nth-of-type(2) {
    text-decoration: line-through;
    color: #9CA3AF;
}

#empty-message {
    color: gray;
    font-style: italic;
}